/*==============================================================================
**************************     Common Styles For The Site      *****************
==============================================================================*/  

*{
    outline: none !important;  
}  
a:hover,a:focus{
    outline: none;  
    text-decoration: none;
}
/*--  IE Specific Styles Starts  --*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {    
    body{
        padding-right: 16px;
    }  
}
/*--  IE Specific Styles Ends  --*/
.btn-grey{
    background-color: #f2f2f2;
}
.btn-red{
    background-color: #ff0033;
}
.text-red{
    color: #ff0033;   
}

.perfect-scroll{
    position: relative;
    overflow: hidden;
    padding: 0 15px 0 0;
}
.ps-container > .ps-scrollbar-y-rail{
    width: 5px;
    right:3px;
}
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y{
    width: 5px;
    right:1px;  
}

/*==============================================================================
**********************        Header Styles For The Site    ********************
==============================================================================*/
/*--  Navigation Wrapper Styles  --*/
.header-wrapper{
    padding: 0; 
}
.header-wrapper .navbar-default{
    background-color: #071E3F;
    border:0;
    border-radius: 0;
    margin: 0;
}
.header-wrapper .navbar-default .navbar-nav{
       margin: 15px 0;
}
.header-wrapper .navbar-default .navbar-nav li a{
    font-family: "roboto-medium",sans-serif;
    font-size: 14px;
    color: #fff;
    padding: 0 9px;   
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.header-wrapper .navbar-default .navbar-nav li a:hover{
    color: #fff;
}
.header-wrapper .navbar-default .navbar-nav li.active a{
    background: transparent; 
     color: #fff;
}
.header-wrapper .navbar-default .navbar-form{
    width: 285px;
    padding: 0;
    margin: 10px 0px;
}
.header-wrapper .navbar-default .navbar-form  .input-group{
    position: relative;
    width:100%;
}

/*==============================================================================
**********************      Panel Wrapper Styles For The Site   ***************
==============================================================================*/
.custom-panel{
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.custom-panel.panel-default>.panel-heading {
    color: #333;
    background-color: transparent;
    border-color: transparent;
    font-size: 21px;
    font-weight: bold;
    position: relative;
}
.custom-panel.panel-default>.panel-heading a{
    color:blue;
    position: absolute;
    right: 15px;
    top: 10px;
}
/*==============================================================================
******************      Media Styles For The Site          *********************
==============================================================================*/

@media (min-width: 1200px) and (max-width :1299px) {
   
}
@media (min-width: 992px) and (max-width :1199px) {
  
}

@media (min-width: 768px) and (max-width :991px) {
 
}

@media (min-width: 320px) and (max-width :767px) {
   
   
}
@media(min-width:320px) and (max-width:600px){
   
}


